/* ------------------- CANVA ------------------- */
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* ------------------- BODY ------------------- */
body {
  background: var(--dark-900);
  overflow-x: hidden;
  height: 5000px;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100' height='100' fill='%23000' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
  background-size: 120px 120px;
  background-repeat: repeat;
  pointer-events: none;
  z-index: 1;
}

/* ------------------- HEADER ------------------- */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  text-align: center;
}

/* ------------------- OVERLAYS ------------------- */
.card {
  position: absolute;
  aspect-ratio: 1 / 1;
  transition: var(--transition-base);
  opacity: 0;
}

#card1,
#card3 {
  transform: translateY(80%);
  margin-left: 10rem;
}

#card4 {
  transform: translateY(100%);
  margin-left: 80%;
}

#card5 {
  width: 100svw;
  text-align: center;
  margin-top: 4rem;
}
#card5 a,
#card5 p {
  font-size: 2rem;
}

#card5 a {
  transition: all var(--transition-base);
  font-style: italic;
}

#card5 a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.card p {
  font-size: 1.5rem;
}

/* IMAGE */
.img-joycon {
  opacity: 0;
  position: absolute;
  width: 400px;
  height: auto;

  transform: translateY(200%);
  margin-left: 10rem;

  mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
  -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

/* ------------------- COMPONENTS ------------------- */
.btn {
  background: transparent;
  border: solid 1px var(--dark-300);
  padding: 0.5rem 2rem;
  width: min-content;

  transition: var(--transition-base);
}

.btn:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn-discover {
  position: fixed;
  bottom: 100px;
}
