/* ------------------- CANVA ------------------- */
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  top: 0;
  left: 0;
}

/* ------------------- BODY ------------------- */
body {
  background: var(--dark-900);
  overflow-x: hidden;
  height: 5000px;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 1;
}

/* ------------------- HEADER ------------------- */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  text-align: center;
}

/* ------------------- OVERLAYS ------------------- */

.scroll-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;  /* canvas reste cliquable */
}

.card {
  position: absolute;
  width: 320px;
  aspect-ratio: 1 / 1;
  margin: 2rem;
  transition: var(--transition-base);
}

.card-details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='3'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 19 0'/%3E%3C/filter%3E%3Crect width='300' height='300' filter='url(%23noise)' opacity='0.1'/%3E%3C/svg%3E"),
    rgba(18, 18, 18, 0.25);
  color: #ffffff;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.3),
    inset 1px 1px 10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

/* .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1) 0%, transparent 50%);
  opacity: 0;
  transition: opacity 0.4s ease;
} */

/* #card1 { top: 20%; right: 10%; }
#card2 { top: 30%; left: 10%; }
#card3 { top: 30%; right: 10%; }
#card4 { top: 40%; left: 20%; }
#card5 { bottom: 20%; left: 20%; } */

/* .hide {
  opacity: 0;
  transform: translateX(0);
}

.show {
  opacity: 1;
  transform: translateX(100px);
} */

/* ------------------- COMPONENTS ------------------- */
.btn {
  background: transparent;
  border: solid 1px var(--dark-300);
  padding: 0.5rem 2rem;
  width: min-content;

  transition: var(--transition-base);
}

.btn:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn-discover {
  position: fixed;
  bottom: 100px;
}
