/* ------------------- CANVA ------------------- */
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* ------------------- BODY ------------------- */
body {
  background: var(--dark-900);
  overflow-x: hidden;
  height: 5000px;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 1;
}

/* ------------------- HEADER ------------------- */
#header {
  width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  text-align: center;
}

/* ------------------- OVERLAYS ------------------- */
.card {
  /* position: fixed; */
  z-index: 10;
  transition: var(--transition-base);
}

/* .hide {
  opacity: 0;
  transform: translateX(0);
}

.show {
  opacity: 1;
  transform: translateX(100px);
} */

/* ------------------- COMPONENTS ------------------- */
.btn {
  background: transparent;
  border: solid 1px var(--dark-300);
  padding: 0.5rem 2rem;
  width: min-content;

  transition: var(--transition-base);
}

.btn:hover {
  scale: 1.05;
  cursor: pointer;
}

.btn-discover {
  position: fixed;
  bottom: 100px;
}
