/* ---------------------------- NORMALIZE & TWEAKS ---------------------------- */
/* ------ Main ------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  color: var(--light-900);
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-900);
}

img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
}

/* ------ Titles ------ */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4,
h5 {
  font-family: "League Gothic", sans-serif;
}
