/* ---------------------------- NORMALIZE & TWEAKS ---------------------------- */
/* ------ Main ------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
}

/* ------ Titles ------ */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
